$main-content : 1090px;
$search-color : #CB9755;
.app{
    color: #333;
    font-size: 14px;
    .header {
        background-color: #333333;
        .header-inner {
            width: $main-content;
            margin: 0 auto;
            height: 36px;
            .notice {
                padding-left: 18px;
                line-height: 36px;
                background: url(../img/icon.png) no-repeat 0px 3px;
                text-decoration: solid;
                color: rgb(204, 151, 86);
                &:hover{
                    color: #fff;
                }
            }
            ul {
                float: right;
                list-style: none;
                li {
                    float: left;
                    padding: 0 10px;
                    height: 36px;
                    line-height: 36px;
                    // &::after{
                    //     content: '';
                    //     height: 16px;
                    //     border-right: 1px solid #5c5c5c;
                    //     vertical-align: middle;
                    // }
                    a {
                        color: #ccc;
                        &:hover {
                            color: #fff;
                        }
                    }
                    img {
                        width: 10px;
                        vertical-align: middle;
                        margin-left: 5px;
                    }
                    &:last-child{
                        height: 30px;
                        padding-left: 18px;
                        background: url(../img/icon.png) no-repeat 0px 12px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
    .wyyx {
        background-color: #fff;
        padding-bottom: 2px;
        box-shadow: 0px 1px 1px 0 #ccc;
        .wyyx-inner {
            width: 1090px;
            margin: 26px auto 0;
            .logo {
                height: 60px;
                .logo-a {
                    display: block;
                    float: left;
                    width: 212px;
                    margin-right: 164px;
                    h1 {
                        height: 60px;
                        background: url(../img/icon.png) 0px 540px;
                        text-indent: -9999px;
                        overflow: hidden;
                    }
                }
                .search {
                    float: left;
                    width: 532px;
                    height: 38px;
                    box-sizing: border-box;
                    border: 1px solid $search-color;
                    border-radius: 20px;
                    overflow: hidden;
                    position: relative;
                    input {
                        float: left;
                        width: 440px;
                        height: 38px;
                        border: none;
                        padding-left: 40px;
                        font-size: 14px;
                        box-sizing: border-box;
                        &::placeholder {

                        }
                    }
                    i {
                        display: block;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        top: 10px;
                        left: 10px;
                        background: url(../img/icon_search.png) no-repeat 6px 0;
                    }
                    button {
                        float: right;
                        width: 90px;
                        height: 36px;
                        color: #fff;
                        font-size: 16px;
                        background-color: $search-color;
                    }
                }
                .car-btn {
                    float: right;
                    position: relative;
                    width: 134px;
                    height: 38px;
                    border: 1px solid #CD9959;
                    box-sizing: border-box;
                    border-radius: 20px;
                    font-size: 16px;
                    color: #CD9959;
                    b {
                        position: absolute;
                        left: 13px;
                        top: 4px;
                        display: block;
                        width: 24px;
                        height: 24px;
                        background: url(../img/icon_car.png);
                    }
                    i {
                        position: absolute;
                        right: 13px;
                        top: 4px;
                        display: block;
                        width: 20px;
                        height: 20px;
                        margin-top: 3px;
                        line-height: 20px;
                        color: #fff;
                        background-color: #f00;
                        border-radius: 50%;
                        font-style: normal;
                    }
                }
            }
            .nav {
                margin-top: 38px;
                display: flex;
                justify-content: space-between;
                a {
                    display: block;
                    color: #000;
                    font-size: 14px;
                    padding-bottom: 7px;
                    border-bottom: 3px solid #fff;
                    &:hover {
                        color: $search-color;
                        border-color: $search-color;
                    }
                }
                .active {
                    color: $search-color;
                    border-color: $search-color;
                }
            }
        }
    }

    .main {
        background: #fff;
        .main-inner {
            width: 1090px;
            margin: 0 auto;
            p {
                font-size: 12px;
                line-height: 50px;
                a {
                    color: #333;
                }
            }
            .detail {
                display: flex;
                justify-content: space-between;
                .show {
                    width: 430px;
                    .show-img {
                        width: 428px;
                        height: 428px;
                        border: 1px solid #ccc;
                    }
                    .img-list {
                        display: flex;
                        justify-content: space-between;
                        padding-top: 20px;
                        div {
                            width: 76px;
                            height: 76px;
                            border: 1px solid #ccc;
                        }
                    }
                }
                .info {
                    width: 620px;
                    font-size: 12px;
                    h3 {
                        padding-top: 5px;
                        font-size: 20px;
                        color: #000;
                        font-weight: normal;
                        height: 28px;
                        line-height: 28px;
                    }
                    p {
                        color: #999;
                        padding-top: 5px;
                        height: 16px;
                        line-height: 16px;
                        margin-bottom: 20px;
                    }
                    .box {
                        padding: 15px 20px 20px 8px;
                        color: #666;
                        background-color: #F5F3EF;
                        span {
                                display: inline-block;
                                width: 55px;
                        }
                        b,i,strong {
                            font-style: normal;
                        }
                        .price {
                            line-height: 50px;
                            b {
                                font-weight: normal;
                                color: #d7282d;
                                font-size: 28px;
                                line-height: 30px;
                            }
                        }
                        .field {
                            height: 32px;
                            line-height: 32px;
                            margin-left: 55px;
                        }
                        .hit {
                            line-height: 26px;
                            i {
                                padding: 0 5px;
                                color: #fff;
                                background-color: #e36844;
                            }
                            b {
                                margin-left: 55px;
                                padding: 0 5px;
                                color: #fff;
                                background-color: #f40;
                            }
                        }
                        .back {
                            line-height: 26px;
                            margin-bottom: 5px;
                            b {
                                color: #c43c3b;
                            }
                        }
                        .limit {
                            line-height: 26px;
                            margin-bottom: 5px;
                            border-bottom: 1px solid dashed;
                        }
                        .give {
                            line-height: 26px;
                            margin-bottom: 5px;
                        }
                        .server {
                            line-height: 26px;
                            margin-bottom: 5px;
                            span {
                                float: left;
                            }
                            a {
                                float: left;
                                display: block;
                                width: 520px;
                            }
                        }
                    }
                    .size {
                        padding: 15px 0 25px 0;
                        span {
                            display: inline-block;
                            width: 55px;
                        }
                        img {
                            width: 50px;
                            height: 50px;
                            margin-left: 5px;
                        }
                    }
                    .num {
                        span {
                            display: inline-block;
                            width: 55px;
                        }
                        .num-box {
                            display: inline-block;
                            border: 1px solid #ccc;
                            text-align: center;
                            .add {
                                width: 36px;
                                height: 30px;
                                line-height: 30px;
                            }
                            input {
                                width: 60px;
                                height: 30px;
                                line-height: 30px;
                                text-align: center;
                                border: none;
                                border-left: 1px solid #ccc;
                                border-right: 1px solid #ccc;
                            }
                            .cut {
                                width: 36px;
                                height: 30px;
                                line-height: 30px;
                            }
                        }
                        i {
                            font-weight: normal;
                            color: #f40;
                            margin-left: 10px;
                        }
                    }
                    .btns {
                        margin-top: 35px;
                        a {
                            display: inline-block;
                            width: 166px;
                            height: 48px;
                            text-align: center;
                            line-height: 48px;
                            font-size: 18px;
                            margin-right: 10px;
                            border: 1px solid #b4a078;
                        }
                        .buy {
                            color: #b4a078;
                            background-color: #f5f3ef;
                        }
                        .join {
                            color: #fff;
                            background-color: #b4a078;
                        }
                        .collect {
                            display: inline-block;
                            border: 1px solid #ccc;
                            width: 50px;
                            height: 50px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }

    .yx {
        padding-top: 60px;
        padding-bottom: 35px;
        background-color: #fff;
        .yx-inner {
            width: $main-content;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            text-align: center;
            .yx1 {
                width: 362px;
                border-right: 1px solid #E9E9E9;
                a {
                    display: inline-block;
                    width: 80px;
                    height: 100px;
                    border: 1px solid #ccc;
                    margin: 0 20px;
                    i {
                        display: block;
                        margin: 25px 5px 15px;
                        font-size: 30px;
                    }
                }
            }
            .yx2 {
                width: 362px;
                padding: 0 40px;
                box-sizing: border-box;
                border-right: 1px solid #E9E9E9;
                text-align: start;
                p {
                    font-size: 12px;
                    line-height: 22px;
                    margin-bottom: 28px;
                }
                span {
                    font-size: 32px;
                    color: #008c8c;
                }
                b {
                    font-size: 32px;
                    color: #51B140;
                }
                i {
                    font-size: 32px;
                    color: #ED393F;
                }
            }
            .yx3 {
                width: 362px;
                span {
                    display: block;
                    color: #b4a078;
                    font-size: 12px;
                    margin-top: 10px;
                }
            }
        }
        h4 {
            color: #333;
            font-weight: normal;
            font-size: 16px;
            height: 16px;
            line-height: 16px;
            margin-bottom: 28px;
        }
    }

    .footer {
        background-color: #414141;
        .footer-inner {
            width: $main-content;
            margin: 0 auto;
            .logo {
                padding: 40px 20px;
                border-bottom: 1px solid #4F4F4F;
                display: flex;
                justify-content: space-between;
                div {
                    i {
                        display: inline-block;
                        vertical-align: middle;
                        width: 50px;
                        height: 50px;
                        margin-right: 17px;
                        background: url(../img/footicon.png)no-repeat 0 0;
                    }
                    span {
                        color: #fff ;
                        font-size: 18px;
                    }
                    .i1 {
                        background-position: 0 -134px;
                    }
                    .i2 {
                        background-position: 0 -368px;
                    }
                    .i3 {
                        background-position: 0 0;
                    }
                    .i4 {
                        background-position: 0 -194px;
                    }
                }
            }
            .copy {
                padding: 25px 0 15px;
                color: #999;
                font-size: 12px;
                .p1 {
                    text-align: center;
                    a {
                        font-size: 12px;
                        color: #999;
                        padding: 0 10px;
                        line-height: 18px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                .p2 {
                    text-align: center;
                    margin: 10px 0;
                    a {
                        font-size: 12px;
                        color: #999;
                        line-height: 18px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                .p3 {
                    text-align: center;
                    margin: 10px 0;
                    a {
                        font-size: 12px;
                        color: #999;
                        line-height: 18px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
                .p4 {
                    text-align: center;
                    a {
                        font-size: 12px;
                        color: #999;
                        line-height: 18px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}