$bg-color: #fff;
$font-color: rgb(51, 51, 51);
$main-width: 1190px;
input::placeholder{
  color: #ADADAD;
}
.app {
  background-color: $bg-color;
  color: $font-color;
  .header{
    height: 100px;
    box-shadow: 0px 5px 10px #ccc;
    .header-inner {
      width: $main-width;
      height: 100px;
      box-sizing: border-box;
      padding: 20px 0;
      margin: 0 auto;
      .title-a {
        display: block;
        float: left;
        width: 212px;
          h1 {
            height: 60px;
            background: url(../img/icon.png) 0px 540px;
            text-indent: -9999px;
            overflow: hidden;
          }
      }
      p {
        float: left;
        margin-left: 10px;
        font-size: 24px;
        height: 60px;
        color: #333;
        line-height: 60px;
    }
        div {
          font-size: 16px;
          color: rgb(153, 153, 153);
          float: right;
          .login-a {
            color: #c81623;
          }
        }
    }
  }
  .main {
    width: 500px;
    margin: 80px auto;
    form {
      label {
        display: block;
        margin-left: 20px;
        margin-top: 6px;
      }
      div {
        color: #f40;
        font-size: 14px;
        height: 100px;
        input {
          width: 480px;
          height: 50px;
          color: #333;
          font-size: 18px;
          border: 1px solid #aaa;
          border-radius: 5px;
          padding-left: 15px;
          &:focus {
            border-color: #549df8;
          }
        }
      }
      button {
        width: 500px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        background-color: #3686F7;
        color: #fff;
      }
    }
    
  }
} 
